@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    @apply font-space-grotesk font-light text-5xl text-gradient-1 tracking-tighter;
  }

  h2 {
    @apply font-space-grotesk font-light text-4xl text-gradient-2 tracking-tight;
  }

  h3 {
    @apply font-space-grotesk font-normal text-3xl text-gradient-3 tracking-normal;
  }

  h4 {
    @apply font-space-grotesk font-normal text-2xl text-gradient-4  tracking-wide;
  }

  h5 {
    @apply font-space-grotesk font-normal text-xl text-gradient-5 tracking-wider;
  }

  h6 {
    @apply font-space-grotesk font-medium text-lg text-gradient-6 tracking-widest;
  }

  p {
    @apply font-jost font-normal text-base tracking-wide;
  }

  caption {
    @apply font-jost font-normal text-xs tracking-3x-wide;
  }

  figcaption {
    @apply font-jost font-normal text-xs tracking-3x-wide;
  }

  button {
    @apply font-jost font-medium text-base tracking-x-wide uppercase;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    --dot-size: 1px;
    --dot-space: 25px;
    background: linear-gradient(
          90deg,
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
    @apply text-foreground;
  }

  div,
  li,
  ol {
    @apply font-jost;
  }

  .masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }

  .brut-border {
    @apply border-border border-2 
  }

  .brut-grid
  {
    grid-auto-rows: calc(100vw / 8);
    grid-template-columns: repeat(8, 1fr);
  }

  .brut-shadow {
    @apply shadow-shadow
  }

  :root {
    --border-radius: 0.5rem;
  
    --color-ring-base: 0 0 0;
    --color-ring-offset: 255 255 255;
  
    --color-gradient-1: 215 89 26;
    --color-gradient-2: 210 41 80;
    --color-gradient-3: 163 31 129;
    --color-gradient-4: 75 46 154;
    --color-gradient-5: 0 106 170;
    --color-gradient-6: 0 144 108;
  
    --color-primary-100: 255 239 217;
    --color-primary-200: 255 219 179;
    --color-primary-300: 255 194 142;
    --color-primary-400: 255 170 113;
    --color-primary-500: 255 130 67;
    --color-primary-600: 219 95 48;
    --color-primary-700: 183 64 33;
    --color-primary-800: 147 39 21;
    --color-primary-900: 122 21 12;
    --color-secondary-100: 234 224 251;
    --color-secondary-200: 212 193 248;
    --color-secondary-300: 183 158 236;
    --color-secondary-400: 154 128 218;
    --color-secondary-500: 115 87 194;
    --color-secondary-600: 87 63 166;
    --color-secondary-700: 63 43 139;
    --color-secondary-800: 43 27 112;
    --color-secondary-900: 28 16 93;
    --color-tertiary-100: 203 251 233;
    --color-tertiary-200: 154 248 220;
    --color-tertiary-300: 101 234 207;
    --color-tertiary-400: 62 213 195;
    --color-tertiary-500: 10 186 181;
    --color-tertiary-600: 7 150 159;
    --color-tertiary-700: 5 114 133;
    --color-tertiary-800: 3 83 107;
    --color-tertiary-900: 1 60 89;
    --color-success-100: 220 253 219;
    --color-success-200: 184 252 189;
    --color-success-300: 146 246 163;
    --color-success-400: 117 237 150;
    --color-success-500: 74 226 130;
    --color-success-600: 54 194 119;
    --color-success-700: 37 162 108;
    --color-success-800: 23 131 95;
    --color-success-900: 14 108 86;
    --color-info-100: 213 249 254;
    --color-info-200: 171 239 254;
    --color-info-300: 130 224 254;
    --color-info-400: 98 206 253;
    --color-info-500: 47 177 252;
    --color-info-600: 34 138 216;
    --color-info-700: 23 104 181;
    --color-info-800: 14 73 146;
    --color-info-900: 9 52 120;
    --color-warning-100: 255 253 217;
    --color-warning-200: 255 250 179;
    --color-warning-300: 255 247 141;
    --color-warning-400: 255 244 113;
    --color-warning-500: 255 239 66;
    --color-warning-600: 219 203 48;
    --color-warning-700: 183 168 33;
    --color-warning-800: 147 133 21;
    --color-warning-900: 122 109 12;
    --color-danger-100: 255 232 230;
    --color-danger-200: 255 206 205;
    --color-danger-300: 255 181 187;
    --color-danger-400: 255 162 180;
    --color-danger-500: 255 132 167;
    --color-danger-600: 219 96 143;
    --color-danger-700: 183 66 122;
    --color-danger-800: 147 42 103;
  
    /* Flex Colors - Light */
    --color-primary: 142 77 46;
    --color-surface-tint: 142 77 46;
    --color-on-primary: 255 255 255;
    --color-primary-container: 255 219 204;
    --color-on-primary-container: 53 16 0;
    --color-secondary: 100 85 143;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 232 221 255;
    --color-on-secondary-container: 32 16 71;
    --color-tertiary: 0 106 103;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 156 241 237;
    --color-on-tertiary-container: 0 32 31;
    --color-error: 141 74 92;
    --color-on-error: 255 255 255;
    --color-error-container: 255 217 224;
    --color-on-error-container: 58 7 26;
    --color-background: 255 248 246;
    --color-on-background: 34 26 22;
    --color-surface: 255 248 246;
    --color-on-surface: 34 26 22;
    --color-surface-variant: 244 222 213;
    --color-on-surface-variant: 82 68 61;
    --color-outline: 133 115 108;
    --color-outline-variant: 216 194 186;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 56 46 42;
    --color-inverse-on-surface: 255 237 230;
    --color-inverse-primary: 255 182 149;
    --color-primary-fixed: 255 219 204;
    --color-on-primary-fixed: 53 16 0;
    --color-primary-fixed-dim: 255 182 149;
    --color-on-primary-fixed-variant: 113 54 25;
    --color-secondary-fixed: 232 221 255;
    --color-on-secondary-fixed: 32 16 71;
    --color-secondary-fixed-dim: 206 189 254;
    --color-on-secondary-fixed-variant: 76 62 118;
    --color-tertiary-fixed: 156 241 237;
    --color-on-tertiary-fixed: 0 32 31;
    --color-tertiary-fixed-dim: 128 213 208;
    --color-on-tertiary-fixed-variant: 0 80 77;
    --color-surface-dim: 232 214 208;
    --color-surface-bright: 255 248 246;
    --color-surface-container-lowest: 255 255 255;
    --color-surface-container-low: 255 241 236;
    --color-surface-container: 252 234 228;
    --color-surface-container-high: 246 229 222;
    --color-surface-container-highest: 241 223 216;
    --color-success: 49 106 65;
    --color-on-success: 255 255 255;
    --color-success-container: 180 241 190;
    --color-on-success-container: 0 33 12;
    --color-info: 41 99 138;
    --color-on-info: 255 255 255;
    --color-info-container: 203 230 255;
    --color-on-info-container: 0 30 48;
    --color-warning: 103 96 19;
    --color-on-warning: 255 255 255;
    --color-warning-container: 239 229 139;
    --color-on-warning-container: 31 28 0;
    --color-danger: 141 74 92;
    --color-on-danger: 255 255 255;
    --color-danger-container: 255 217 224;
    --color-on-danger-container: 58 7 26;
    --color-vibrant-primary: 255 130 67;
    --color-on-vibrant-primary: 25 13 7;
    --color-primary-card: 255 249 246;
    --color-on-primary-card: 25 13 7;
    --color-primary-popover: 255 255 255;
    --color-on-primary-popover: 25 13 7;
    --color-primary-secondary: 255 236 227;
    --color-on-primary-secondary: 0 0 0;
    --color-primary-muted: 255 243 236;
    --color-on-primary-muted: 102 102 102;
    --color-primary-accent: 255 243 236;
    --color-on-primary-accent: 38 20 10;
    --color-primary-border: 255 230 217;
    --color-primary-input: 223 208 200;
    --color-primary-ring: 255 130 67;
    --color-primary-chart-1: 255 130 67;
    --color-primary-chart-2: 255 149 95;
    --color-primary-chart-3: 255 174 133;
    --color-primary-chart-4: 255 186 152;
    --color-primary-chart-5: 255 199 170;
    --color-vibrant-secondary: 115 87 194;
    --color-on-vibrant-secondary: 241 238 249;
    --color-secondary-card: 14 13 17;
    --color-on-secondary-card: 234 230 246;
    --color-secondary-popover: 0 0 0;
    --color-on-secondary-popover: 234 230 246;
    --color-secondary-secondary: 40 30 68;
    --color-on-secondary-secondary: 255 255 255;
    --color-secondary-muted: 25 25 25;
    --color-on-secondary-muted: 128 128 128;
    --color-secondary-accent: 40 30 68;
    --color-on-secondary-accent: 234 230 246;
    --color-secondary-border: 23 17 39;
    --color-secondary-input: 50 47 58;
    --color-secondary-ring: 115 87 194;
    --color-secondary-chart-1: 115 87 194;
    --color-secondary-chart-2: 98 74 165;
    --color-secondary-chart-3: 75 57 126;
    --color-secondary-chart-4: 63 48 107;
    --color-secondary-chart-5: 52 39 87;
    --color-vibrant-tertiary: 10 186 181;
    --color-on-vibrant-tertiary: 1 19 18;
    --color-tertiary-card: 10 17 17;
    --color-on-tertiary-card: 218 245 244;
    --color-tertiary-popover: 0 0 0;
    --color-on-tertiary-popover: 218 245 244;
    --color-tertiary-secondary: 4 65 63;
    --color-on-tertiary-secondary: 255 255 255;
    --color-tertiary-muted: 25 25 25;
    --color-on-tertiary-muted: 128 128 128;
    --color-tertiary-accent: 4 65 63;
    --color-on-tertiary-accent: 218 245 244;
    --color-tertiary-border: 2 37 36;
    --color-tertiary-input: 39 57 56;
    --color-tertiary-ring: 10 186 181;
    --color-tertiary-chart-1: 10 186 181;
    --color-tertiary-chart-2: 9 158 154;
    --color-tertiary-chart-3: 7 121 118;
    --color-tertiary-chart-4: 6 102 100;
    --color-tertiary-chart-5: 5 84 81;
    --color-vibrant-success: 74 226 130;
    --color-on-vibrant-success: 7 23 13;
    --color-success-card: 13 19 15;
    --color-on-success-card: 228 251 236;
    --color-success-popover: 0 0 0;
    --color-on-success-popover: 228 251 236;
    --color-success-secondary: 26 79 46;
    --color-on-success-secondary: 255 255 255;
    --color-success-muted: 25 25 25;
    --color-on-success-muted: 128 128 128;
    --color-success-accent: 26 79 46;
    --color-on-success-accent: 228 251 236;
    --color-success-border: 15 45 26;
    --color-success-input: 46 61 51;
    --color-success-ring: 74 226 130;
    --color-success-chart-1: 74 226 130;
    --color-success-chart-2: 63 192 111;
    --color-success-chart-3: 48 147 85;
    --color-success-chart-4: 41 124 72;
    --color-success-chart-5: 33 102 58;
    --color-vibrant-info: 47 177 252;
    --color-on-vibrant-info: 5 18 25;
    --color-info-card: 11 17 20;
    --color-on-info-card: 224 243 255;
    --color-info-popover: 0 0 0;
    --color-on-info-popover: 224 243 255;
    --color-info-secondary: 16 62 88;
    --color-on-info-secondary: 255 255 255;
    --color-info-muted: 25 25 25;
    --color-on-info-muted: 128 128 128;
    --color-info-accent: 16 62 88;
    --color-on-info-accent: 224 243 255;
    --color-info-border: 9 35 50;
    --color-info-input: 43 56 63;
    --color-info-ring: 47 177 252;
    --color-info-chart-1: 47 177 252;
    --color-info-chart-2: 40 150 214;
    --color-info-chart-3: 31 115 164;
    --color-info-chart-4: 26 97 139;
    --color-info-chart-5: 21 80 113;
    --color-vibrant-warning: 255 239 66;
    --color-on-vibrant-warning: 25 24 7;
    --color-warning-card: 20 19 12;
    --color-on-warning-card: 255 253 227;
    --color-warning-popover: 0 0 0;
    --color-on-warning-popover: 255 253 227;
    --color-warning-secondary: 89 84 23;
    --color-on-warning-secondary: 255 255 255;
    --color-warning-muted: 25 25 25;
    --color-on-warning-muted: 128 128 128;
    --color-warning-accent: 89 84 23;
    --color-on-warning-accent: 255 253 227;
    --color-warning-border: 51 48 13;
    --color-warning-input: 64 62 45;
    --color-warning-ring: 255 239 66;
    --color-warning-chart-1: 255 239 66;
    --color-warning-chart-2: 217 203 56;
    --color-warning-chart-3: 166 155 43;
    --color-warning-chart-4: 140 131 36;
    --color-warning-chart-5: 115 108 30;
    --color-vibrant-danger: 255 132 167;
    --color-on-vibrant-danger: 25 13 17;
    --color-danger-card: 20 15 16;
    --color-on-danger-card: 255 237 242;
    --color-danger-popover: 0 0 0;
    --color-on-danger-popover: 255 237 242;
    --color-danger-secondary: 89 46 58;
    --color-on-danger-secondary: 255 255 255;
    --color-danger-muted: 25 25 25;
    --color-on-danger-muted: 128 128 128;
    --color-danger-accent: 89 46 58;
    --color-on-danger-accent: 255 237 242;
    --color-danger-border: 51 26 33;
    --color-danger-input: 64 51 55;
    --color-danger-ring: 255 132 167;
    --color-danger-chart-1: 255 132 167;
    --color-danger-chart-2: 217 112 142;
    --color-danger-chart-3: 166 86 109;
    --color-danger-chart-4: 140 73 92;
    --color-danger-chart-5: 115 59 75;
  }
  
  .dark {
    --color-ring-base: 255 255 255;
    --color-ring-offset: 0 0 0;
  
    --color-gradient-1: 255 149 86;
    --color-gradient-2: 255 101 140;
    --color-gradient-3: 223 91 189;
    --color-gradient-4: 135 106 214;
    --color-gradient-5: 20 166 230;
    --color-gradient-6: 30 204 168;
  
    /* Flex Colors - Dark */
    --color-primary: 255 182 149;
    --color-surface-tint: 255 182 149;
    --color-on-primary: 84 33 5;
    --color-primary-container: 113 54 25;
    --color-on-primary-container: 255 219 204;
    --color-secondary: 206 189 254;
    --color-on-secondary: 53 39 93;
    --color-secondary-container: 76 62 118;
    --color-on-secondary-container: 232 221 255;
    --color-tertiary: 128 213 208;
    --color-on-tertiary: 0 55 53;
    --color-tertiary-container: 0 80 77;
    --color-on-tertiary-container: 156 241 237;
    --color-error: 255 177 196;
    --color-on-error: 85 29 47;
    --color-error-container: 112 51 69;
    --color-on-error-container: 255 217 224;
    --color-background: 26 18 14;
    --color-on-background: 241 223 216;
    --color-surface: 26 18 14;
    --color-on-surface: 241 223 216;
    --color-surface-variant: 82 68 61;
    --color-on-surface-variant: 216 194 186;
    --color-outline: 160 141 133;
    --color-outline-variant: 82 68 61;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 241 223 216;
    --color-inverse-on-surface: 56 46 42;
    --color-inverse-primary: 142 77 46;
    --color-primary-fixed: 255 219 204;
    --color-on-primary-fixed: 53 16 0;
    --color-primary-fixed-dim: 255 182 149;
    --color-on-primary-fixed-variant: 113 54 25;
    --color-secondary-fixed: 232 221 255;
    --color-on-secondary-fixed: 32 16 71;
    --color-secondary-fixed-dim: 206 189 254;
    --color-on-secondary-fixed-variant: 76 62 118;
    --color-tertiary-fixed: 156 241 237;
    --color-on-tertiary-fixed: 0 32 31;
    --color-tertiary-fixed-dim: 128 213 208;
    --color-on-tertiary-fixed-variant: 0 80 77;
    --color-surface-dim: 26 18 14;
    --color-surface-bright: 66 55 50;
    --color-surface-container-lowest: 20 12 9;
    --color-surface-container-low: 34 26 22;
    --color-surface-container: 39 30 26;
    --color-surface-container-high: 50 40 36;
    --color-surface-container-highest: 61 51 46;
    --color-success: 152 212 163;
    --color-on-success: 0 57 25;
    --color-success-container: 23 81 44;
    --color-on-success-container: 180 241 190;
    --color-info: 151 204 248;
    --color-on-info: 0 52 79;
    --color-info-container: 0 75 113;
    --color-on-info-container: 203 230 255;
    --color-warning: 210 201 114;
    --color-on-warning: 54 49 0;
    --color-warning-container: 78 72 0;
    --color-on-warning-container: 239 229 139;
    --color-danger: 255 177 196;
    --color-on-danger: 85 29 47;
    --color-danger-container: 112 51 69;
    --color-on-danger-container: 255 217 224;
    --color-vibrant-primary: 255 130 67;
    --color-on-vibrant-primary: 25 13 7;
    --color-primary-card: 20 15 12;
    --color-on-primary-card: 255 236 227;
    --color-primary-popover: 0 0 0;
    --color-on-primary-popover: 255 236 227;
    --color-primary-secondary: 89 46 23;
    --color-on-primary-secondary: 255 255 255;
    --color-primary-muted: 25 25 25;
    --color-on-primary-muted: 128 128 128;
    --color-primary-accent: 89 46 23;
    --color-on-primary-accent: 255 236 227;
    --color-primary-border: 51 26 13;
    --color-primary-input: 64 51 45;
    --color-primary-ring: 255 130 67;
    --color-primary-chart-1: 255 130 67;
    --color-primary-chart-2: 217 111 57;
    --color-primary-chart-3: 166 85 44;
    --color-primary-chart-4: 140 72 37;
    --color-primary-chart-5: 115 58 30;
    --color-vibrant-secondary: 115 87 194;
    --color-on-vibrant-secondary: 241 238 249;
    --color-secondary-card: 14 13 17;
    --color-on-secondary-card: 234 230 246;
    --color-secondary-popover: 0 0 0;
    --color-on-secondary-popover: 234 230 246;
    --color-secondary-secondary: 40 30 68;
    --color-on-secondary-secondary: 255 255 255;
    --color-secondary-muted: 25 25 25;
    --color-on-secondary-muted: 128 128 128;
    --color-secondary-accent: 40 30 68;
    --color-on-secondary-accent: 234 230 246;
    --color-secondary-border: 23 17 39;
    --color-secondary-input: 50 47 58;
    --color-secondary-ring: 115 87 194;
    --color-secondary-chart-1: 115 87 194;
    --color-secondary-chart-2: 98 74 165;
    --color-secondary-chart-3: 75 57 126;
    --color-secondary-chart-4: 63 48 107;
    --color-secondary-chart-5: 52 39 87;
    --color-vibrant-tertiary: 10 186 181;
    --color-on-vibrant-tertiary: 1 19 18;
    --color-tertiary-card: 10 17 17;
    --color-on-tertiary-card: 218 245 244;
    --color-tertiary-popover: 0 0 0;
    --color-on-tertiary-popover: 218 245 244;
    --color-tertiary-secondary: 4 65 63;
    --color-on-tertiary-secondary: 255 255 255;
    --color-tertiary-muted: 25 25 25;
    --color-on-tertiary-muted: 128 128 128;
    --color-tertiary-accent: 4 65 63;
    --color-on-tertiary-accent: 218 245 244;
    --color-tertiary-border: 2 37 36;
    --color-tertiary-input: 39 57 56;
    --color-tertiary-ring: 10 186 181;
    --color-tertiary-chart-1: 10 186 181;
    --color-tertiary-chart-2: 9 158 154;
    --color-tertiary-chart-3: 7 121 118;
    --color-tertiary-chart-4: 6 102 100;
    --color-tertiary-chart-5: 5 84 81;
    --color-vibrant-success: 74 226 130;
    --color-on-vibrant-success: 7 23 13;
    --color-success-card: 13 19 15;
    --color-on-success-card: 228 251 236;
    --color-success-popover: 0 0 0;
    --color-on-success-popover: 228 251 236;
    --color-success-secondary: 26 79 46;
    --color-on-success-secondary: 255 255 255;
    --color-success-muted: 25 25 25;
    --color-on-success-muted: 128 128 128;
    --color-success-accent: 26 79 46;
    --color-on-success-accent: 228 251 236;
    --color-success-border: 15 45 26;
    --color-success-input: 46 61 51;
    --color-success-ring: 74 226 130;
    --color-success-chart-1: 74 226 130;
    --color-success-chart-2: 63 192 111;
    --color-success-chart-3: 48 147 85;
    --color-success-chart-4: 41 124 72;
    --color-success-chart-5: 33 102 58;
    --color-vibrant-info: 47 177 252;
    --color-on-vibrant-info: 5 18 25;
    --color-info-card: 11 17 20;
    --color-on-info-card: 224 243 255;
    --color-info-popover: 0 0 0;
    --color-on-info-popover: 224 243 255;
    --color-info-secondary: 16 62 88;
    --color-on-info-secondary: 255 255 255;
    --color-info-muted: 25 25 25;
    --color-on-info-muted: 128 128 128;
    --color-info-accent: 16 62 88;
    --color-on-info-accent: 224 243 255;
    --color-info-border: 9 35 50;
    --color-info-input: 43 56 63;
    --color-info-ring: 47 177 252;
    --color-info-chart-1: 47 177 252;
    --color-info-chart-2: 40 150 214;
    --color-info-chart-3: 31 115 164;
    --color-info-chart-4: 26 97 139;
    --color-info-chart-5: 21 80 113;
    --color-vibrant-warning: 255 239 66;
    --color-on-vibrant-warning: 25 24 7;
    --color-warning-card: 20 19 12;
    --color-on-warning-card: 255 253 227;
    --color-warning-popover: 0 0 0;
    --color-on-warning-popover: 255 253 227;
    --color-warning-secondary: 89 84 23;
    --color-on-warning-secondary: 255 255 255;
    --color-warning-muted: 25 25 25;
    --color-on-warning-muted: 128 128 128;
    --color-warning-accent: 89 84 23;
    --color-on-warning-accent: 255 253 227;
    --color-warning-border: 51 48 13;
    --color-warning-input: 64 62 45;
    --color-warning-ring: 255 239 66;
    --color-warning-chart-1: 255 239 66;
    --color-warning-chart-2: 217 203 56;
    --color-warning-chart-3: 166 155 43;
    --color-warning-chart-4: 140 131 36;
    --color-warning-chart-5: 115 108 30;
    --color-vibrant-danger: 255 132 167;
    --color-on-vibrant-danger: 25 13 17;
    --color-danger-card: 20 15 16;
    --color-on-danger-card: 255 237 242;
    --color-danger-popover: 0 0 0;
    --color-on-danger-popover: 255 237 242;
    --color-danger-secondary: 89 46 58;
    --color-on-danger-secondary: 255 255 255;
    --color-danger-muted: 25 25 25;
    --color-on-danger-muted: 128 128 128;
    --color-danger-accent: 89 46 58;
    --color-on-danger-accent: 255 237 242;
    --color-danger-border: 51 26 33;
    --color-danger-input: 64 51 55;
    --color-danger-ring: 255 132 167;
    --color-danger-chart-1: 255 132 167;
    --color-danger-chart-2: 217 112 142;
    --color-danger-chart-3: 166 86 109;
    --color-danger-chart-4: 140 73 92;
    --color-danger-chart-5: 115 59 75;
  }
}
